copiloto-function/invocar-copiloto.definition.updated.json
{
  "extendedLocation": null,
  "id": "/subscriptions/380fa841-83f3-42fe-adc4-582a5ebe139b/resourceGroups/boat-rental-app-group/providers/Microsoft.Logic/workflows/invocar-copiloto",
  "identity": null,
  "kind": null,
  "location": "eastus",
  "managedBy": null,
  "name": "invocar-copiloto",
  "plan": null,
  "properties": {
    "accessEndpoint": "https://prod-15.eastus.logic.azure.com:443/workflows/4711b810bb5f478aa4d8dc5662c61c53",
    "changedTime": "2025-08-08T03:02:50.0954168Z",
    "createdTime": "2025-08-06T07:26:52.0962636Z",
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Initialize_BaseURL": {
          "inputs": {
            "variables": [
              {
                "name": "BaseURL",
                "type": "string",
                "value": "https://copiloto-semantico-func-us2.azurewebsites.net/api"
              }
            ]
          },
          "runAfter": {
            "Initialize_MasterKey": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_MasterKey": {
          "inputs": {
            "variables": [
              {
                "name": "MasterKey",
                "type": "string",
                "value": "Bedo13Q5Ox_xTc7RvlEEhjMP8ZNbopT_PcVjlImHW0aBAzFuJ3Xpkw=="
              }
            ]
          },
          "runAfter": {},
          "type": "InitializeVariable"
        },
        "Response_Error": {
          "inputs": {
            "body": {
              "details": "@result(\u0027Switch_Endpoint\u0027)",
              "ejemplo_request": {
                "endpoint": "dashboard",
                "method": "POST"
              },
              "endpoints_disponibles": [
                "ejecutar",
                "status",
                "health",
                "copiloto",
                "dashboard",
                "diagnosticar"
              ],
              "error": "Error al procesar la solicitud"
            },
            "headers": {
              "Content-Type": "application/json"
            },
            "statusCode": 500
          },
          "kind": "Http",
          "runAfter": {
            "Switch_Endpoint": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "type": "Response"
        },
        "Set_Correct_Key": {
          "cases": {
            "copiloto": {
              "actions": {
                "SetKey_Copiloto": {
                  "inputs": {
                    "name": "MasterKey",
                    "value": "DzpKcond1GKMJdEakPx4OgsMlsBDArTcC84nCJJus4sZAzFucfy8NQ=="
                  },
                  "type": "SetVariable"
                }
              },
              "case": "copiloto"
            },
            "ejecutar": {
              "actions": {
                "SetKey_Ejecutar": {
                  "inputs": {
                    "name": "MasterKey",
                    "value": "kgUMBir_FbX-4851i12LE316nftyn_c98Jt9FbI6vY2uAzFuqiogxw=="
                  },
                  "type": "SetVariable"
                }
              },
              "case": "ejecutar"
            },
            "status": {
              "actions": {
                "SetKey_Status": {
                  "inputs": {
                    "name": "MasterKey",
                    "value": "U3zegHXnF-vYOJLmfdS9ZJA_nTULH7Us0X-upGRRdHytAzFuMOc6MQ=="
                  },
                  "type": "SetVariable"
                }
              },
              "case": "status"
            }
          },
          "default": {
            "actions": {
              "SetKey_Default": {
                "inputs": {
                  "name": "MasterKey",
                  "value": "Bedo13Q5Ox_xTc7RvlEEhjMP8ZNbopT_PcVjlImHW0aBAzFuJ3Xpkw=="
                },
                "type": "SetVariable"
              }
            }
          },
          "expression": "@triggerBody()?[\u0027endpoint\u0027]",
          "runAfter": {
            "Initialize_BaseURL": [
              "Succeeded"
            ]
          },
          "type": "Switch"
        },
        "Switch_Endpoint": {
          "cases": {
            "copiloto-1": {
              "actions": {
                "Call_Copiloto": {
                  "inputs": {
                    "method": "GET",
                    "uri": "@if(empty(triggerBody()?[\u0027mensaje\u0027]), concat(variables(\u0027BaseURL\u0027), \u0027/copiloto?code=\u0027, variables(\u0027MasterKey\u0027)), concat(variables(\u0027BaseURL\u0027), \u0027/copiloto?mensaje=\u0027, encodeUriComponent(triggerBody()?[\u0027mensaje\u0027]), \u0027\u0026code=\u0027, variables(\u0027MasterKey\u0027)))"
                  },
                  "type": "Http"
                },
                "Response_Copiloto": {
                  "inputs": {
                    "body": "@body(\u0027Call_Copiloto\u0027)",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "statusCode": 200
                  },
                  "kind": "Http",
                  "runAfter": {
                    "Call_Copiloto": [
                      "Succeeded"
                    ]
                  },
                  "type": "Response"
                }
              },
              "case": "copiloto"
            },
            "dashboard": {
              "actions": {
                "Call_Dashboard": {
                  "inputs": {
                    "body": {
                      "intencion": "dashboard",
                      "modo": "normal",
                      "parametros": {}
                    },
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "method": "POST",
                    "uri": "@{variables(\u0027BaseURL\u0027)}/ejecutar?code=@{variables(\u0027MasterKey\u0027)}"
                  },
                  "type": "Http"
                },
                "Response_Dashboard": {
                  "inputs": {
                    "body": "@body(\u0027Call_Dashboard\u0027)",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "statusCode": 200
                  },
                  "kind": "Http",
                  "runAfter": {
                    "Call_Dashboard": [
                      "Succeeded"
                    ]
                  },
                  "type": "Response"
                }
              },
              "case": "dashboard"
            },
            "diagnosticar": {
              "actions": {
                "Call_Diagnosticar": {
                  "inputs": {
                    "body": {
                      "intencion": "diagnosticar:completo",
                      "modo": "normal",
                      "parametros": "@coalesce(triggerBody()?[\u0027parametros\u0027], json(\u0027{}\u0027))"
                    },
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "method": "POST",
                    "uri": "@concat(variables(\u0027BaseURL\u0027), \u0027/ejecutar?code=\u0027, trim(variables(\u0027MasterKey\u0027)))"
                  },
                  "runAfter": {
                    "Set_variable": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http"
                },
                "Response_Diagnosticar": {
                  "inputs": {
                    "body": "@body(\u0027Call_Diagnosticar\u0027)",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "statusCode": 200
                  },
                  "kind": "Http",
                  "runAfter": {
                    "Call_Diagnosticar": [
                      "Succeeded"
                    ]
                  },
                  "type": "Response"
                },
                "Set_variable": {
                  "inputs": {
                    "name": "MasterKey",
                    "value": "dm0nb79t9qEkbWDirg9V2k85Fe7teIn1EkgUufI0Ao58AzFuRV05vw==\n"
                  },
                  "type": "SetVariable"
                }
              },
              "case": "diagnosticar"
            },
            "ejecutar-1": {
              "actions": {
                "Call_Ejecutar": {
                  "inputs": {
                    "body": {
                      "contexto": {
                        "incluir_metadata": true
                      },
                      "intencion": "@triggerBody()?[\u0027intencion\u0027]",
                      "modo": "@coalesce(triggerBody()?[\u0027modo\u0027], \u0027normal\u0027)",
                      "parametros": "@coalesce(triggerBody()?[\u0027parametros\u0027], json(\u0027{}\u0027))"
                    },
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "method": "POST",
                    "uri": "@{variables(\u0027BaseURL\u0027)}/ejecutar?code=@{variables(\u0027MasterKey\u0027)}"
                  },
                  "type": "Http"
                },
                "Response_Ejecutar": {
                  "inputs": {
                    "body": "@body(\u0027Call_Ejecutar\u0027)",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "statusCode": 200
                  },
                  "kind": "Http",
                  "runAfter": {
                    "Call_Ejecutar": [
                      "Succeeded"
                    ]
                  },
                  "type": "Response"
                }
              },
              "case": "ejecutar"
            },
            "health": {
              "actions": {
                "Call_Health": {
                  "inputs": {
                    "method": "GET",
                    "uri": "@{variables(\u0027BaseURL\u0027)}/health"
                  },
                  "type": "Http"
                },
                "Response_Health": {
                  "inputs": {
                    "body": "@body(\u0027Call_Health\u0027)",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "statusCode": 200
                  },
                  "kind": "Http",
                  "runAfter": {
                    "Call_Health": [
                      "Succeeded"
                    ]
                  },
                  "type": "Response"
                }
              },
              "case": "health"
            },
            "status-1": {
              "actions": {
                "Call_Status": {
                  "inputs": {
                    "method": "GET",
                    "uri": "@{variables(\u0027BaseURL\u0027)}/status?code=@{variables(\u0027MasterKey\u0027)}"
                  },
                  "type": "Http"
                },
                "Response_Status": {
                  "inputs": {
                    "body": "@body(\u0027Call_Status\u0027)",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "statusCode": 200
                  },
                  "kind": "Http",
                  "runAfter": {
                    "Call_Status": [
                      "Succeeded"
                    ]
                  },
                  "type": "Response"
                }
              },
              "case": "status"
            }
          },
          "default": {
            "actions": {
              "Call_Ejecutar_Default": {
                "inputs": {
                  "body": {
                    "intencion": "@coalesce(triggerBody()?[\u0027intencion\u0027], \u0027dashboard\u0027)",
                    "modo": "@coalesce(triggerBody()?[\u0027modo\u0027], \u0027normal\u0027)",
                    "parametros": "@coalesce(triggerBody()?[\u0027parametros\u0027], json(\u0027{}\u0027))"
                  },
                  "headers": {
                    "Content-Type": "application/json"
                  },
                  "method": "POST",
                  "uri": "@{variables(\u0027BaseURL\u0027)}/ejecutar?code=@{variables(\u0027MasterKey\u0027)}"
                },
                "type": "Http"
              },
              "Response_Ejecutar_Default": {
                "inputs": {
                  "body": "@body(\u0027Call_Ejecutar_Default\u0027)",
                  "headers": {
                    "Content-Type": "application/json"
                  },
                  "statusCode": 200
                },
                "kind": "Http",
                "runAfter": {
                  "Call_Ejecutar_Default": [
                    "Succeeded"
                  ]
                },
                "type": "Response"
              }
            }
          },
          "expression": "@coalesce(triggerBody()?[\u0027endpoint\u0027], \u0027ejecutar\u0027)",
          "runAfter": {
            "Set_Correct_Key": [
              "Succeeded"
            ]
          },
          "type": "Switch"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_HTTP_request_is_received": {
          "description": "Invoca al copiloto semntico en Azure Function App",
          "inputs": {
            "schema": {
              "properties": {
                "endpoint": {
                  "description": "Endpoint a invocar: ejecutar, status, health, copiloto",
                  "type": "string"
                },
                "intencion": {
                  "description": "Intencin para el endpoint ejecutar",
                  "type": "string"
                },
                "mensaje": {
                  "description": "Mensaje para el endpoint copiloto",
                  "type": "string"
                },
                "method": {
                  "description": "Mtodo HTTP: GET o POST",
                  "enum": [
                    "GET",
                    "POST"
                  ],
                  "type": "string"
                },
                "modo": {
                  "default": "normal",
                  "description": "Modo de ejecucin: normal, guiado, orquestador",
                  "type": "string"
                },
                "parametros": {
                  "description": "Parmetros para la intencin",
                  "type": "object"
                }
              },
              "type": "object"
            }
          },
          "kind": "Http",
          "type": "Request"
        }
      }
    },
    "endpointsConfiguration": {
      "connector": {
        "outgoingIpAddresses": [
          {
            "address": "40.71.249.139"
          },
          {
            "address": "40.71.249.205"
          },
          {
            "address": "40.114.40.132"
          },
          {
            "address": "40.71.11.80/28"
          },
          {
            "address": "40.71.15.160/27"
          },
          {
            "address": "52.188.157.160"
          },
          {
            "address": "20.88.153.176/28"
          },
          {
            "address": "20.88.153.192/27"
          },
          {
            "address": "52.151.221.184"
          },
          {
            "address": "52.151.221.119"
          }
        ]
      },
      "workflow": {
        "accessEndpointIpAddresses": [
          {
            "address": "137.135.106.54"
          },
          {
            "address": "40.117.99.79"
          },
          {
            "address": "40.117.100.228"
          },
          {
            "address": "137.116.126.165"
          },
          {
            "address": "52.226.216.209"
          },
          {
            "address": "40.76.151.124"
          },
          {
            "address": "20.84.29.150"
          },
          {
            "address": "40.76.174.148"
          },
          {
            "address": "4.156.26.80"
          },
          {
            "address": "4.156.25.14"
          },
          {
            "address": "4.156.25.189"
          },
          {
            "address": "20.242.168.44"
          },
          {
            "address": "4.156.241.183"
          },
          {
            "address": "4.156.243.174"
          },
          {
            "address": "4.156.242.86"
          },
          {
            "address": "4.156.243.165"
          },
          {
            "address": "52.224.145.162"
          },
          {
            "address": "4.156.242.96"
          },
          {
            "address": "4.156.243.173"
          },
          {
            "address": "4.156.241.195"
          },
          {
            "address": "4.156.242.97"
          },
          {
            "address": "4.156.242.26"
          },
          {
            "address": "4.156.242.13"
          },
          {
            "address": "172.212.37.35"
          }
        ],
        "outgoingIpAddresses": [
          {
            "address": "13.92.98.111"
          },
          {
            "address": "40.121.91.41"
          },
          {
            "address": "40.114.82.191"
          },
          {
            "address": "23.101.139.153"
          },
          {
            "address": "23.100.29.190"
          },
          {
            "address": "23.101.136.201"
          },
          {
            "address": "104.45.153.81"
          },
          {
            "address": "23.101.132.208"
          },
          {
            "address": "52.226.216.197"
          },
          {
            "address": "52.226.216.187"
          },
          {
            "address": "40.76.151.25"
          },
          {
            "address": "40.76.148.50"
          },
          {
            "address": "20.84.29.29"
          },
          {
            "address": "20.84.29.18"
          },
          {
            "address": "40.76.174.83"
          },
          {
            "address": "40.76.174.39"
          },
          {
            "address": "4.156.27.7"
          },
          {
            "address": "4.156.28.117"
          },
          {
            "address": "4.156.25.188"
          },
          {
            "address": "20.242.168.24"
          },
          {
            "address": "4.156.241.165"
          },
          {
            "address": "4.156.243.170"
          },
          {
            "address": "4.156.242.49"
          },
          {
            "address": "4.156.243.164"
          },
          {
            "address": "52.224.145.30"
          },
          {
            "address": "4.156.242.92"
          },
          {
            "address": "4.156.243.172"
          },
          {
            "address": "4.156.241.191"
          },
          {
            "address": "4.156.241.47"
          },
          {
            "address": "4.156.241.229"
          },
          {
            "address": "4.156.242.12"
          },
          {
            "address": "172.212.32.196"
          }
        ]
      }
    },
    "metadata": {
      "templates": {
        "name": "tool-call-uri-http",
        "source": "AgentService",
        "type": "Workflow"
      }
    },
    "parameters": {
      "$connections": {
        "value": {}
      }
    },
    "provisioningState": "Succeeded",
    "state": "Enabled",
    "version": "08584469847153903036"
  },
  "resourceGroup": "boat-rental-app-group",
  "sku": null,
  "tags": null,
  "type": "Microsoft.Logic/workflows"
}