copiloto-function/logic_wrap.json
{
  "properties": {
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Check_Function_State_ARM": {
          "inputs": {
            "authentication": {
              "resource": "https://management.azure.com",
              "type": "ManagedServiceIdentity"
            },
            "method": "GET",
            "uri": "https://management.azure.com/subscriptions/380fa841-83f3-42fe-adc4-582a5ebe139b/resourceGroups/boat-rental-app-group/providers/Microsoft.Web/sites/-version=2022-03-01"
          },
          "runAfter": {
            "Initialize_BaseURL": [
              "Succeeded"
            ]
          },
          "type": "Http"
        },
        "Get_MasterKey": {
          "inputs": {
            "authentication": {
              "audience": "https://vault.azure.net",
              "type": "ManagedServiceIdentity"
            },
            "method": "GET",
            "uri": "https://boatrental-kv-prod.vault.azure.net/secrets/CopilotoMasterKey?api-version=7.4"
          },
          "runAfter": {
            "Initialize_BaseURL": [
              "Succeeded"
            ]
          },
          "type": "Http"
        },
        "If_Function_Running": {
          "actions": {
            "Switch_Endpoint": {
              "cases": {
                "copiloto-1": {
                  "actions": {
                    "Call_Copiloto": {
                      "inputs": {
                        "method": "GET",
                        "uri": "@if(empty(triggerBody()?[\u0027mensaje\u0027]), concat(variables(\u0027BaseURL\u0027), \u0027/copiloto?code=\u0027, variables(\u0027MasterKey\u0027)), concat(variables(\u0027BaseURL\u0027), \u0027/copiloto?mensaje=\u0027, encodeUriComponent(triggerBody()?[\u0027mensaje\u0027]), \u0027\u0026code=\u0027, variables(\u0027MasterKey\u0027)))"
                      },
                      "type": "Http"
                    },
                    "Response_Copiloto": {
                      "inputs": {
                        "body": "@body(\u0027Call_Copiloto\u0027)",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "statusCode": 200
                      },
                      "kind": "Http",
                      "runAfter": {
                        "Call_Copiloto": [
                          "Succeeded"
                        ]
                      },
                      "type": "Response"
                    }
                  },
                  "case": "copiloto"
                },
                "dashboard": {
                  "actions": {
                    "Call_Dashboard": {
                      "inputs": {
                        "body": {
                          "intencion": "dashboard",
                          "modo": "normal",
                          "parametros": {}
                        },
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "method": "POST",
                        "uri": "@{variables(\u0027BaseURL\u0027)}/ejecutar?code=@{variables(\u0027MasterKey\u0027)}"
                      },
                      "type": "Http"
                    },
                    "Response_Dashboard": {
                      "inputs": {
                        "body": "@body(\u0027Call_Dashboard\u0027)",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "statusCode": 200
                      },
                      "kind": "Http",
                      "runAfter": {
                        "Call_Dashboard": [
                          "Succeeded"
                        ]
                      },
                      "type": "Response"
                    }
                  },
                  "case": "dashboard"
                },
                "diagnosticar": {
                  "actions": {
                    "Call_Diagnosticar": {
                      "inputs": {
                        "body": {
                          "intencion": "diagnosticar:completo",
                          "modo": "normal",
                          "parametros": "@coalesce(triggerBody()?[\u0027parametros\u0027], json(\u0027{}\u0027))"
                        },
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "method": "POST",
                        "uri": "@concat(variables(\u0027BaseURL\u0027), \u0027/ejecutar?code=\u0027, trim(variables(\u0027MasterKey\u0027)))"
                      },
                      "type": "Http"
                    },
                    "Response_Diagnosticar": {
                      "inputs": {
                        "body": "@body(\u0027Call_Diagnosticar\u0027)",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "statusCode": 200
                      },
                      "kind": "Http",
                      "runAfter": {
                        "Call_Diagnosticar": [
                          "Succeeded"
                        ]
                      },
                      "type": "Response"
                    }
                  },
                  "case": "diagnosticar"
                },
                "ejecutar-1": {
                  "actions": {
                    "Call_Ejecutar": {
                      "inputs": {
                        "body": {
                          "contexto": "@coalesce(triggerBody()?[\u0027contexto\u0027], json(\u0027{\"incluir_metadata\": true}\u0027))",
                          "intencion": "@triggerBody()?[\u0027intencion\u0027]",
                          "modo": "@coalesce(triggerBody()?[\u0027modo\u0027], \u0027normal\u0027)",
                          "parametros": "@coalesce(triggerBody()?[\u0027parametros\u0027], json(\u0027{}\u0027))"
                        },
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "method": "POST",
                        "uri": "@{variables(\u0027BaseURL\u0027)}/ejecutar?code=@{variables(\u0027MasterKey\u0027)}"
                      },
                      "type": "Http"
                    },
                    "Response_Ejecutar": {
                      "inputs": {
                        "body": "@body(\u0027Call_Ejecutar\u0027)",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "statusCode": 200
                      },
                      "kind": "Http",
                      "runAfter": {
                        "Call_Ejecutar": [
                          "Succeeded"
                        ]
                      },
                      "type": "Response"
                    }
                  },
                  "case": "ejecutar"
                },
                "health": {
                  "actions": {
                    "Call_Health": {
                      "inputs": {
                        "method": "GET",
                        "uri": "@{variables(\u0027BaseURL\u0027)}/health"
                      },
                      "type": "Http"
                    },
                    "Response_Health": {
                      "inputs": {
                        "body": "@body(\u0027Call_Health\u0027)",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "statusCode": 200
                      },
                      "kind": "Http",
                      "runAfter": {
                        "Call_Health": [
                          "Succeeded"
                        ]
                      },
                      "type": "Response"
                    }
                  },
                  "case": "health"
                },
                "status-1": {
                  "actions": {
                    "Call_Status": {
                      "inputs": {
                        "method": "GET",
                        "uri": "@{variables(\u0027BaseURL\u0027)}/status?code=@{variables(\u0027MasterKey\u0027)}"
                      },
                      "type": "Http"
                    },
                    "Response_Status": {
                      "inputs": {
                        "body": "@body(\u0027Call_Status\u0027)",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "statusCode": 200
                      },
                      "kind": "Http",
                      "runAfter": {
                        "Call_Status": [
                          "Succeeded"
                        ]
                      },
                      "type": "Response"
                    }
                  },
                  "case": "status"
                }
              },
              "default": {
                "actions": {
                  "Call_Ejecutar_Default": {
                    "inputs": {
                      "body": {
                        "contexto": "@coalesce(triggerBody()?[\u0027contexto\u0027], json(\u0027{}\u0027))",
                        "intencion": "@coalesce(triggerBody()?[\u0027intencion\u0027], \u0027dashboard\u0027)",
                        "modo": "@coalesce(triggerBody()?[\u0027modo\u0027], \u0027normal\u0027)",
                        "parametros": "@coalesce(triggerBody()?[\u0027parametros\u0027], json(\u0027{}\u0027))"
                      },
                      "headers": {
                        "Content-Type": "application/json"
                      },
                      "method": "POST",
                      "uri": "@{variables(\u0027BaseURL\u0027)}/ejecutar?code=@{variables(\u0027MasterKey\u0027)}"
                    },
                    "type": "Http"
                  },
                  "Response_Ejecutar_Default": {
                    "inputs": {
                      "body": "@body(\u0027Call_Ejecutar_Default\u0027)",
                      "headers": {
                        "Content-Type": "application/json"
                      },
                      "statusCode": 200
                    },
                    "kind": "Http",
                    "runAfter": {
                      "Call_Ejecutar_Default": [
                        "Succeeded"
                      ]
                    },
                    "type": "Response"
                  }
                }
              },
              "expression": "@coalesce(triggerBody()?[\u0027endpoint\u0027], \u0027ejecutar\u0027)",
              "type": "Switch"
            }
          },
          "else": {
            "actions": {
              "Response_Function_Not_Running": {
                "inputs": {
                  "body": {
                    "details": "@coalesce(body(\u0027Check_Function_State_ARM\u0027)?[\u0027error\u0027]?[\u0027message\u0027], \u0027Unknown ARM error\u0027)",
                    "error": "Error checking function state",
                    "raw_response": "@body(\u0027Check_Function_State_ARM\u0027)"
                  },
                  "headers": {
                    "Content-Type": "application/json",
                    "Retry-After": "30"
                  },
                  "statusCode": 503
                },
                "kind": "Http",
                "type": "Response"
              }
            }
          },
          "expression": "@equals(body(\u0027Check_Function_State_ARM\u0027)?[\u0027properties\u0027]?[\u0027state\u0027],\u0027Running\u0027)",
          "runAfter": {
            "Check_Function_State_ARM": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "type": "If"
        },
        "Initialize_BaseURL": {
          "inputs": {
            "variables": [
              {
                "name": "BaseURL",
                "type": "string",
                "value": "https://copiloto-semantico-func-us2.azurewebsites.net/api"
              }
            ]
          },
          "runAfter": {
            "Initialize_MasterKey": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_MasterKey": {
          "inputs": {
            "variables": [
              {
                "name": "MasterKey",
                "type": "string",
                "value": ""
              }
            ]
          },
          "runAfter": {},
          "type": "InitializeVariable"
        },
        "Response_Error": {
          "inputs": {
            "body": {
              "details": "@result(\u0027If_Function_Running\u0027)",
              "ejemplo_request": {
                "contexto": {
                  "agente_origen": "ai-foundry-agent",
                  "timestamp": "2025-08-08T12:00:00Z"
                },
                "endpoint": "dashboard",
                "method": "POST",
                "modo": "supervisor"
              },
              "endpoints_disponibles": [
                "ejecutar",
                "status",
                "health",
                "copiloto",
                "dashboard",
                "diagnosticar"
              ],
              "error": "Error al procesar la solicitud"
            },
            "headers": {
              "Content-Type": "application/json"
            },
            "statusCode": 500
          },
          "kind": "Http",
          "runAfter": {
            "If_Function_Running": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "type": "Response"
        },
        "Set_MasterKey": {
          "inputs": {
            "name": "MasterKey",
            "value": "@body(\u0027Get_MasterKey\u0027)?[\u0027value\u0027]"
          },
          "runAfter": {
            "Get_MasterKey": [
              "Succeeded"
            ]
          },
          "type": "SetVariable"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_HTTP_request_is_received": {
          "description": "Invoca al copiloto semntico en Azure Function App con verificacin de estado",
          "inputs": {
            "schema": {
              "properties": {
                "contexto": {
                  "description": "Contexto del supervisor",
                  "type": "object"
                },
                "endpoint": {
                  "description": "Endpoint a invocar: ejecutar, status, health, copiloto",
                  "type": "string"
                },
                "intencion": {
                  "description": "Intencin para el endpoint ejecutar",
                  "type": "string"
                },
                "mensaje": {
                  "description": "Mensaje para el endpoint copiloto",
                  "type": "string"
                },
                "method": {
                  "description": "Mtodo HTTP: GET o POST",
                  "enum": [
                    "GET",
                    "POST"
                  ],
                  "type": "string"
                },
                "modo": {
                  "default": "normal",
                  "description": "Modo de ejecucin: normal, guiado, orquestador, supervisor",
                  "type": "string"
                },
                "parametros": {
                  "description": "Parmetros para la intencin",
                  "type": "object"
                }
              },
              "type": "object"
            }
          },
          "kind": "Http",
          "type": "Request"
        }
      }
    }
  }
}